<!-- 
  This is a "Stub"
  When Rails renders this page, it is actually processing a "view layout"
  The default "view layout" for the Rails application is: 
    app/views/layouts/application.html.erb
-->

<div class="d-flex align-items-center justify-content-center">
  <h1>Welcome to Scheduled Tweets</h1>
</div>