<!-- 
  This is a "Stub"
  When Rails renders this page, it is actually processing a "view layout"
  The default "view layout" for the Rails application is: 
    app/views/layouts/application.html.erb
-->

<h1>Welcome to Scheduled Tweets</h1>